*
{
    margin : 0;
    padding : 0;                     
    box-sizing: border-box;
    scrollbar-width: none;
}

body::-webkit-scrollbar {   /*DISABLING SCROLLBAR FOR CHROME*/
    display: none;
  }

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
body{
    color :#e3d1d1;         
    
} 
section {
    scroll-snap-align: start;
    height: 100vh;
} 
.container
{
    height :100vh;
    display : grid;
    place-items: center;
    font-size : 33px;
    background-color : rgba(0,0,0,0.6); 
}
.cw   /*CineWise Heading*/
{
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0 auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg ,#BBD2C5,#A1B8B1,#879E9E,#6D838A,#536976);
    background-size: 400% 400%;
    animation: headingAnimation 10s ease infinite;
    -webkit-animation: headingAnimation 10s ease infinite;
    /*MAKING THE TEXT UNSELECTABLE*/
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
@keyframes headingAnimation{
    0% { 
        background-position: 0 0;
    }
    25% { 
        background-position: 100% 0;
    }
    50% { 
        background-position: 100% 100%;
    }
    75% { 
        background-position: 0 100%;
    }
    100% {  
        background-position: 0 0;
    }
}
.box  /*div containing the heading*/
{
    position: absolute;
    top : 270px;
}

.searchBar  /*the search bar*/
{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    position: absolute;
    top: 340px;
    width: 440px;
    height: 40px;
    border-radius: 15px;
    padding-left: 15px;
    border: #979797 2px solid;
    box-shadow: -6px 10px 15px -3px #0F2027;
    margin: 0 auto;
    transition: .5s ease-in-out ;
    -webkit-transition: .5s ease-in-out ;
    -moz-transition: .5s ease-in-out ;
    -ms-transition: .5s ease-in-out ;
    -o-transition: .5s ease-in-out ;
     outline : none;
     margin : auto 0;
}
input[type="text"]::placeholder  /*aligning the text on the search bar*/
{
    text-align: center;
    font-size : 19px;
}

#searchInput {
    position: absolute;
    left : 545px;
    font-family: 'Poppins', sans-serif;
}
.bgClip   /*the background video*/
{
    position: fixed;
    right : 0;
    bottom : 0;
    z-index: -1;
}
a {
    text-decoration: none;
}

#arrow{  /*DOWN ARROW*/
    position: absolute;
    bottom: 20px;
    font-size: 28px;
    margin : 0 auto;
    color: #979797;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}
 
#arrow:hover{                /*ANIMATING THE ON-HOVER ANIMATION*/
 color: white;
 transform: scale(105%);
 -webkit-transform: scale(105%);
 -moz-transform: scale(105%);
 -ms-transform: scale(105%);
 -o-transform: scale(105%);
}
/*SECOND PAGE*/
.intro {
    height : 100vh;
    background-color : rgba(0,0,0,0.6);  /*OPACITY SETTINGS*/
    text-align: center;
    padding-top: 15px;
}

.container2 {
    height :100vh;
    background-color : rgba(0,0,0,0.6); 
}

.cw2 {  
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size : 33px;
    display : grid;
    place-items: center;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg ,#BBD2C5,#A1B8B1,#879E9E,#6D838A,#536976);
    background-size: 400% 400%;
    animation: headingAnimation 10s ease infinite;
    -webkit-animation: headingAnimation 10s ease infinite;
    /*MAKING THE TEXT UNSELECTABLE*/
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  border-bottom: #979797 4px solid;
}
.container2 h3 {
    border-top: #979797 2px solid;
    font-family: 'Poppins' ,sans-serif;
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
    text-decoration: underline;
    margin-top : 35px;
}
.faqbox {
    display : grid;
    place-items: center;
}
.faq {
    font-family : 'Poppins', sans-serif;
    display : flex;
    font-size : 17px;
    padding : 5px;
    width : 1300px;
}
.right {
    border-left : #979797 2px solid;
    padding-left : 15px;
    width : 55%;
   }
.left {
    width : 45%;
    padding-right : 2px;
}
/* NAVBAR */
.navbar {
    font-family: 'Poppins', sans-serif;
}
nav ul {
    display : flex;
    justify-content: space-around;
    list-style: none;
     padding : 6px;
    border-bottom: 4px #979797 solid;
}

nav a {
    color: #979797;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

a:hover 
{
    color : white;
    /* text-decoration: underline; */
}

.watchLater {
    color : #979797;
}

.logoutBtn {
    transition: .5s ease-in-out all;
    -webkit-transition: .5s ease-in-out all;
    -moz-transition: .5s ease-in-out all;
    -ms-transition: .5s ease-in-out all;
    -o-transition: .5s ease-in-out all;
}
.logoutBtn:hover {
    color : red;
}


.cw-intro {
    font-family: 'Poppins', sans-serif;
    padding : 15px;
    font-size : 17px;
}

span {
    font-size : 20px;
}


 /*ABOUT US PAGE*/
 .container3 {
    height :100vh;
    background-color : rgba(0,0,0,0.6); 
    font-family : 'Poppins', sans-serif;
    text-align : center;
    padding-top : 5px;
}

.container3 nav {
    border-top : 4px #979797 solid;
}
 .container3 h1 {
    font-size : 45px;
 }
 .container3 p,h3 {
    padding-left : 10px;
    padding-right : 10px;
 }

 .container3 h3 {
    text-decoration: underline;
 }
 /*contact us page*/

 .container4 {
    height :100vh;
    background-color : rgba(0,0,0,0.6); 
    font-family : 'Poppins', sans-serif;
    text-align : center;
    padding-top : 5px;
}

.container4 nav {
    border-top : 4px #979797 solid;
}
 .container4 h1 {
    font-size : 45px;
 }

 .container4 p {
    padding-left : 10px;
    padding-right : 10px;
 }

 .container4 span {
    text-decoration: underline;
    font-size : 20px;
 }

