*
{
    margin : 0;
    padding : 0;                     /*DEFUALT SETTINGS*/
    box-sizing: border-box;
    scrollbar-width : none;
}
-webkit-scrollbar
{
    display : none;
}

body{
    color :#e3d1d1;            
    scroll-behavior: smooth !important;
} 
.container
{
    height :100vh;
    display : grid;
    place-items: center;
    font-size : 33px;
    background-color : rgba(0,0,0,0.6);  /*OPACITY SETTINGS*/
}
.cw   /*CineWise Heading*/
{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 10px;
    margin : 0 auto;
}
.box  /*div containing the heading*/
{
    position: absolute;
    top : 270px;
}

.searchBar  /*the search bar*/
{
    color : white;
    background-color : transparent;
    position: absolute;
    top : 370px;
    margin : 0 auto;
    width : 440px;
    height : 40px;
    border-radius: 15px;
    padding-left : 15px;
    border : #979797 2px solid;
    box-shadow: -6px 10px 15px -3px #0F2027;
    margin : 0 auto;
}
input[type="text"]::placeholder  /*aligning the text on the search bar*/
{
    text-align: center;
    font-size : 19px;
}

.bgClip   /*the background video*/
{
    position: fixed;
    right : 0;
    bottom : 0;
    z-index: -1;
}
a {
    text-decoration: none;
}

#arrow{  /*DOWN ARROW*/
    position: absolute;
    bottom: 20px;
    font-size: 28px;
    margin : 0 auto;
    color: #979797;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}
 
#arrow:hover{                /*ANIMATING THE ON-HOVER ANIMATION*/
 color: white;
 transform: scale(105%);
 -webkit-transform: scale(105%);
 -moz-transform: scale(105%);
 -ms-transform: scale(105%);
 -o-transform: scale(105%);
}

.intro {
    height : 100vh;
    background-color : rgba(0,0,0,0.6);  /*OPACITY SETTINGS*/
}